{% extends "base.html" %}
{% block content %}
                <div class="posts">
					
					<div class="pure-post" >
					    {% for p in article %}
					    <div class="pure-posts layout-item l-warp" style="border-bottom:1px;border-style:solid;border-color:#A9A9A9;border-left:0px;border-right:0px;border-top:0px">
					        <a href="{% url 'post' p.id %}">
					            <h1>{{ p.title }} </h1>
					        </a>
					        <a href="{% url 'category' p.category %}">
					            {{ p.category }}
					        </a>
					        <h6 style="color:grey">{{ p.data_time }}</h6>
					        
					    </div>
					    {% endfor %}
					</div>
				<div>
{% endblock %}
